body::after {
  content: '';
  display: block;
  height: 60px; /* Set same as footer's height */
}

a.nav-link {
  display: inline-block;
  color: rgb(255, 255, 255, 0.75);
}

a.nav-link:hover {
  color: white;
}

a.nav-link.active {
  color: white;
}

.space-top {
  margin-top: 2em;
}

.navbar span {
  color: #bbbbbb;
}

.card-blockquote>img {
  width: 100%;
}

.card {
  margin-bottom: 1em;
}

.selected {
background: #666666;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 'Montserrat', sans-serif;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-image {
  width: 300px;
  height: 200px;
}

.brandSize{
  font-size: 30px;
}

.navItemSize{
  font-size: 20px;
}

.card{
  box-shadow: none;
  border: 0;
}

.marginTop{
  margin-top: 20px;
}

.product-table img {
  max-height: 150px;
  min-width: 50px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}